body {
  background-color: lightblue;
  text-align: center;
  
}

table, th, td {
  border: 1px solid black;
  border-radius: 10px;
  width: 100%;
}

.timer {
  background-color: lightgreen;
  cursor: pointer;
}

.timer:hover{
  /* background-color: red; */
  opacity: 0.4;
}

.timer:active {
  background-color: darkorange;
}

#fav {
  color:red;
}

#milk {
  text-decoration-line: underline;
  text-decoration-color: green;
  text-decoration-style: double;
  text-transform: capitalize;
}
.container {
  position: relative;
}

.black-box {
  position: relative;
  z-index: 1;
  border: 2px solid black;
  height: 100px;
  margin: 30px;
}

.gray-box {
  position: absolute;
  z-index: 3;
  background: lightgray;
  height: 60px;
  width: 70%;
  left: 50px;
  top: 50px;
}

.green-box {
  position: absolute;
  z-index: 2;
  background: lightgreen;
  width: 35%;
  left: 270px;
  top: -15px;
  height: 100px;
}
